/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..700&family=Raleway:wght@300..700&display=swap');

/* VARIABLES */
:root {
    /* Palette */
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);
    --secondary-solid: #1D84B5;
    --secondary-900: rgba(29, 132, 181, 0.9);
    --secondary-500: rgba(29, 132, 181, 0.5);
    --secondary-300: rgba(29, 132, 181, 0.3);
    --dark-solid: #1F1F1F;
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);
    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font-sizes */
    --font-display: 4.6rem;
    --font-jumbo: 3.8rem;
    --font-xlarge: 3rem;
    --font-large: 2.4rem;
    --font-medium: 1.8rem;
    --font-small: 1.6rem;
    --font-xsmall: 1.4rem;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

/* RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 10px;
    color: var(--dark-solid);
    margin-bottom: 0;
    border: none;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul,
ol {
    list-style-type: none;
}

p {
    font-size: 1.8em;
    /* 1.8em=18px */
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: var(--dark-bg-solid);
    gap: var(--spacing-36);
}

.navbar {
    background-color: var(--dark-bg-solid);
}

li+a+.nav-item {
    color: var(--light-font-solid) !important;

}

.navbar-nav .nav-item .nav-link {
    padding: 7px 20px;
    margin: 10px 15px;
    color: var(--light-font-solid);
    text-align: center;
    border-radius: 35px;
    text-transform: uppercase;
    font-size: 15px;
}


#user-icon {
    width: 28px;
    height: auto;
}

/* BANNER SECTION */
#banner {
    margin-top: 0px;

}

#wrap-banner {
    /* width: 100vw;  genera scroll lateral por el background-size cover*/
    padding: 70px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: url(../images/funkos-banner-1.png);
    background-size: cover;
    background-origin: border-box;
    background-repeat: no-repeat;

}

.banner-text {
    margin-top: 10px;
    /* transform: translateY(-220px); */
    color: var(--light-font-solid);
    margin-left: 45px;
}

.banner-principal-text {
    font-size: var(--font-jumbo);
    font-weight: bold;
    font-family: var(--base-font), var(--alternative-font);
}

.banner-text-description {
    font-size: var(--font-xsmall);
    font-family: var(--base-font);
}

#btn-banner {
    /* width: 15vw;
        height: 35px; */
    display: inline-block;
    margin-top: 5px;
    padding: 4px 35px;
    border-radius: 45px;
    background-color: var(--light-bg-solid);
    border: none;
}

#btn-banner a {
    text-decoration: none;
    color: var(--dark-solid);
    font-family: var(--alternative-font);
    font-size: var(--font-small);
    font-weight: bold;
}

#btn-banner a:visited {
    background-color: var(--dark-solid);
    text-decoration: none;
    color: var(--dark-solid);
}

/* MAIN SECTION/SECCION PRINCIPAL */
.main-section {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-evenly;

}

.img-main {
    height: auto;
    width: 50vw;

}

.text-main-section {
    width: 50vw;
    height: auto;
    padding: 0 20px;
    margin-bottom: 10px;
}

.text-main-section .tittle-main-item {
    font-size: var(--font-display);
}

.text-main-section .description-main-item {
    font-size: var(--font-small);
}

.see-collection {
    /* width: 15vw;
    height: 35px; */
    display: inline-block;
    margin-top: 25px;
    padding: 12px 40px;
    border-radius: 45px;
    background-color: var(--dark-solid);
    text-decoration: none;
    font-size: var(--font-xsmall);
    color: var(--light-font-solid);
}

.see-collection:visited {
    background-color: var(--dark-solid);
    text-decoration: none;
    color: var(--light-font-solid);
}

.line-section {
    height: 3px;
    background-color: var(--primary-solid);
}

.middle-section {
    flex-direction: row-reverse;
}

.new-releases {
    width: 100wv;
}

.releases-tittle {
    font-size: var(--font-display);
    padding: 15px 15px;
}

.text-releases {
    text-decoration: none;
    color: var(--dark-solid);
}

.text-collection {
    font-size: var(--font-xsmall);
    color: var(--dark-bg-solid);
}

.name-item {
    font-size: var(--font-medium);
    font-family: var(--base-font);
    color: var(--dark-solid);
    font-weight: bold;
}

.ctas-item {
    color: var(--secondary-solid);
    font-size: var(--font-small);
    font-weight: bolder;
}

.releases-articles-sm {
    display: none;
}

/* FOOTER STYLES */
.custom-footer {
    background-color: var(--dark-bg-solid);
    margin-bottom: 0;
    font-size: var(--font-small);
    text-justify: center;
    padding-top: 10px;

}

.custom-footer p {
    font-size: var(--font-xsmall);
    text-justify: center;
    padding: 8px;
}

.custom-text-footer {
    margin-left: 15px;
    font-weight: normal;
}

.copyright-text {
    padding: 20px 10px !important;
}


@media (max-width: 480px) {
    #card-shop {
        padding: 0% !important;
        width: 95% !important;
      }
      #card-shop .row {
            flex-wrap: wrap !important;
            display: block !important;
            height: 30% !important;
      }
      #card-shop .col-4 {
            flex: 0 0 100% !important;
            max-width: 100% !important;
            width: 95% !important;
            
      }
     
      #toggleAsideButton {
            display: block !important;
      }
      .d-none{
          display: none !important;
      }
    .navbar {
        padding: 10px
    }

    .mobile-logo {
        width: auto;
    }

    .banner-principal-text {
        font-size: var(--font-large);
        font-weight: bolder;
    }

    .banner-text-description {
        font-size: var(--font-xsmall);
    }

    .btn-banner-text {
        font-size: var(--font-xxsmall);
    }

    .main-section {
        margin-top: 20px;
    }

    .text-main-section {
        width: 40vw;
        height: auto;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    .img-main {
        width: 60vw;
    }

    .text-main-section .tittle-main-item {
        font-size: var(--font-large);
        font-weight: bolder;
    }

    .text-main-section .description-main-item {
        font-size: var(--font-xsmall);
    }

    .see-collection {
        font-size: var(--font-xxsmall);
        padding: 10px 15px;
    }

    .releases-tittle {
        font-size: var(--font-large);
        font-weight: bolder;

    }

    .releases-articles {
        display: none !important;
        flex-direction: column;
    }

    /* .releases-items {
        display: flex !important;
        flex-direction: row;
        width: 100vw;
    } */

    .releases-articles-sm {
        display: flex;
        width: 100vw;
    }

    .tittles-releases {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }

    .text-collection {
        font-size: var(--font-xxsmall);
    }

    .name-item {
        font-size: var(--font-medium);
        font-weight: bolder;
    }

    .price-item {
        font-size: var(--font-medium);
    }

    .ctas-item {
        font-size: var(--font-xxsmall);
        font-weight: bold;
    }

    .footer-link {
        font-size: var(--font-xxsmall);
    }

    .copyright-text {
        font-size: var(--font-xxsmall) !important;
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    .navbar {
        padding: 15px !important
    }
    #card-shop {
        padding: 0% !important;
        width: 95% !important;
      }
      #card-shop .row {
            flex-wrap: wrap !important;
            display: block !important;
            height: 30% !important;
      }
      #card-shop .col-4 {
            flex: 0 0 100% !important;
            max-width: 100% !important;
            width: 95% !important;
            
      }
     
      #toggleAsideButton {
            display: block !important;
      }
      .d-none{
          display: block !important;
      }
}

@media (min-width: 768px) and (max-width: 992px) {
    .col-md-4{
        flex: 0 0 auto !important;
        width: 25% !important;
    }
    .d-none{
        display: none !important;
    }
    
    
    #toggleAsideButton {
        display: block !important;
    }
    .navbar {
        padding: 5px
    }
    
    .nav-link {
        font-size: var(--font-xsmall) !important;
    }
    .contact-navlink, .login-navlink{
        display: none !important;
    }

    .cart-icon {
        display: none !important;
    }

    .banner-principal-text {
        font-size: var(--font-jumbo);
        font-weight: bolder;
    }

    .banner-text-description {
        font-size: var(--font-small);
    }

    .btn-banner-text {
        font-size: var(--font-xsmall);
    }

    .text-main-section {
        width: 40vw;
        height: auto;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    .img-main {
        width: 40vw;
    }

    .tittle-main-item {
        font-size: var(--font-xlarge);
        font-weight: bolder;
    }

    .text-main-section .description-main-item {
        font-size: var(--font-small);
    }

    .see-collection {
        font-size: var(--font-xsmall);
        padding: 10px 15px;
    }

    .releases-tittle {
        font-size: var(--font-xlarge);
        font-weight: bolder;

    }

}

.d-none{
    display: inline-block !important;
}


#toggleAsideButton {
    display: none ;
}
.see-collection:hover{
    background-color: #30343F;
}
/* SHOP PAGE STYLES  */
/* ASIDE SECTION  */
.aside-section-shop {
    margin-top: 65px;
    margin-left: 25px;
    /* padding: 25px;
    height: 45vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--dark-solid);
}

#search-icon {
    width: 20px;
    display: inline;
}

.aside-text {
    font-size: var(--font-medium);
    padding-top: 10px;
    font-weight: bold;
}

.filter-check-shop {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: stretch;
    padding: 5px;
}

.check-shop-item {
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: var(--font-xsmall);
}

#min,
#max {
    font-size: var(--font-xsmall);
}
.btns{
    display: flex;
    justify-content: CENTER;
    margin-top: 35px;
}
.btnlogout{
        background-color: var(--dark-bg-solid);
        color: #fff;
        border: none;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        MARGIN: 0 10PX;
        cursor: pointer;
        border-radius: 4px;
        
    }
    
    
    .btnlogout:hover {
        background-color: var(--dark-solid);
    }

.titleLogin{
    justify-content: center; 
    text-align: center; 
    font-size: 5rem; 
}
.hidden{
    display: none !important;
}
/*Register Form*/
.registerForm {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center !important;
    padding: 0.8rem 0 ;
    font-size: 1.5rem;
    form  {
        background: #fff;
        
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        
    }
    
   
    label {
        display: flex;
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    
    input[type="text"],
    input[type="email"],
    input[type="number"], 
    input[type="password"]{
        
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    
    button {
        background-color: var(--dark-bg-solid);
        color: #fff;
        border: none;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        /* display: inline-block; */
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }
    
    
    button:hover {
        background-color: var(--dark-solid);
    }
    
    
    ul {
        list-style-type: none;
        padding: 0;
    }
    
    
    li {
        background: #fff;
        margin: 5px 0;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    li .actions {
        display: flex;
        gap: 10px;
    }
    
    
    li button {
        background-color: #007bff;
    }
    
    
    li button:hover {
        background-color: #0056b3;
    }
    
    
    li .delete {
        background-color: #dc3545;
    }
    label a{
             margin-top: 15px;
            display: flex;
            margin-bottom: 5px;
            font-weight: bold;
            color: var(--dark-bg-solid);
            text-decoration: none;
    }
    label a:hover{
       
        color: var(--primary-solid);
        
}
}

#editarUsuarioForm {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center !important;
    padding: 0.8rem 0 ;
    font-size: 1.5rem;
    form  {
        background: #fff;
        
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        
    }
    
   
    label {
        display: flex;
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    
    input[type="text"],
    input[type="email"],
    input[type="number"], 
    input[type="password"]{
        
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    
    button {
        background-color: var(--dark-bg-solid);
        color: #fff;
        border: none;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        /* display: inline-block; */
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }
    
    
    button:hover {
        background-color: var(--dark-solid);
    }
    
    
    ul {
        list-style-type: none;
        padding: 0;
    }
    
    
    li {
        background: #fff;
        margin: 5px 0;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    li .actions {
        display: flex;
        gap: 10px;
    }
    
    
    li button {
        background-color: #007bff;
    }
    
    
    li button:hover {
        background-color: #0056b3;
    }
    
    
    li .delete {
        background-color: #dc3545;
    }
    
}